<div>
	<button class="btn btn-primary" (click)="toggleForm()">Ajouter une question</button>
</div>
<div *ngIf="showForm">
	<form (ngSubmit)="onSubmit()" #questionForm="ngForm">
		 
		<div class="form-group">
        	<label for="email">Titre</label>
        	<input type="text" [(ngModel)]="question.titre" 
          	class="form-control" id="titre" name="titre" placeholder="Enter une titre pour la question"
          	required #titre="ngModel">
        	<div [hidden]="!titre.pristine" class="alert alert-danger">Titre is required</div>
      	</div>

      	
      	
      	<ckeditor (change)="getData($event)" [editor]="Editor" [(ngModel)]="question.description" name="editor" data="<p>Entre votre question ici ... </p>" (ready)="onReady($event)"></ckeditor>

      	
       

      	<button type="submit" [disabled]="!questionForm.form.valid" 
        class="btn btn-info">Submit</button>

	</form>
</div>
<!-- <div contentEditable="true" style=" width: 300px;
  height: 200px;
  border: 1px solid #ccc;">Type here. You can insert images too
		  <img src="http://t2.gstatic.com/images?q=tbn:ANd9GcQCze-mfukcuvzKk7Ilj2zQ0CS6PbOkq7ZhRInnNd1Yz3TQzU4e&t=1" />
		</div>-->