<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name" 
          class="form-control" id="name" name="name" placeholder="Enter your name"
          required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email" 
          class="form-control" id="email" name="email" placeholder="Enter your email address"
          required #email="ngModel">
        <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group">
        <label for="email">Mot de passe</label>
        <input type="text" [(ngModel)]="user.password" 
          class="form-control" id="password" name="password" placeholder="Enter your password"
          required #password="ngModel">
        <div [hidden]="!password.pristine" class="alert alert-danger">Mot de passe is required</div>
      </div>

      <div class="form-group">
        <label for="email">Confirmer le mot de passe</label>
        <input type="text"
        (keyup)="changed($event)"
        [(ngModel)]="password2" 
          class="form-control" id="password_confirm" name="password_confirm" placeholder="Enter your password"
          required>
       
        <div *ngIf="passwordConf" class="alert alert-danger">Mot de passe ne confirme pas au premier.</div>
      </div>

      <button type="submit" [disabled]="!userForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>