<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">STACKOVER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="accueil">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" routerLink="/mesquestion">Mes questions</a>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <ul class="navbar-nav " *ngIf="!user">
        <li  class="nav-item active">
          <a class="nav-link" routerLink="/login">Login  </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/addUser">sign up </a>
        </li>
      </ul>

      <ul class="navbar-nav " *ngIf="user">
        <li  class="nav-item active dropdown" style="margin-left: 10px">

           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <img style="width:30px;height:30px" src="assets/image/user.png"/>
             <span>{{user.name}}  </span>
          </a>
         
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  (click)="logOut()">LogOut</a>
            </div>
        </li>
        
      </ul>

    </div>
  </nav>
  <div class="row">
    <div class="col-md-12">

      <!--
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/addUser" class="btn btn-info">Add User</a>
                </li>
          </ul>
        </div>
      </div>
    -->
     
      <router-outlet></router-outlet>
    </div>
  </div>
</div>