<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
       
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email" 
          class="form-control" id="email" name="email" placeholder="Enter your email address"
          required #email="ngModel">
        <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
      </div>


      <div class="form-group">
        <label for="email">Mot de passe</label>
        <input type="text" [(ngModel)]="user.password" 
          class="form-control" id="password" name="password" placeholder="Enter your password"
          required #password="ngModel">
        <div [hidden]="!password.pristine" class="alert alert-danger">Mot de passe is required</div>
      </div>
 

      <button type="submit" [disabled]="!userForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>